@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*:not(svg) {
  font-family: "Bebas Neue", sans-serif;
}

p, a, strong, li, span {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body main {
  padding-top: 70px;
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, button, textarea, select, fieldset {
  border: none;
  background: none;
  outline: none;
}

cite {
  font-style: normal;
}

header {
  width: 100%;
  height: 70px;
  background: #101010;
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  gap: 2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
header::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #96A71D;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}
header ul.left {
  justify-content: flex-start;
}
header ul li:hover menu {
  height: 80vh;
  transition-delay: 0s;
}
header ul li:hover menu div {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
header ul li:hover menu img {
  opacity: 1;
}
header menu {
  width: 100vw;
  height: 0px;
  background: hsla(0, 0%, 7%, 0.9);
  position: fixed;
  z-index: -1;
  left: 0;
  top: 70px;
  transition: all 0.3s ease;
  transition-delay: 0.2s;
  display: flex;
  gap: 1.5vw;
}
header menu img {
  position: absolute;
  opacity: 0;
  width: 20vw !important;
  height: auto !important;
  right: 3vw;
  z-index: -1;
  bottom: 0;
}
header menu div {
  padding: 3vh 3vw;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  transition: all 0.3s ease;
  transition-delay: 0s;
}
header menu div ul {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: disc;
}
header menu div ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
header a, header li {
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}
header a img, header li img {
  width: 134.7px;
  height: 94px;
  transform: translateY(-5px);
}
header a svg, header li svg {
  fill: #F9F9F9;
  transition: all 0.3s ease;
}
header a:hover, header a.active, header li:hover, header li.active {
  color: #96A71D;
}
header a:hover svg, header a.active svg, header li:hover svg, header li.active svg {
  fill: #96A71D;
  transform: rotate(180deg);
}
header a.active svg, header li.active svg {
  transform: rotate(180deg);
}

a.btn-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 7%);
  transition: all 0.3s ease;
  position: relative;
  z-index: 200;
  width: 305px;
  height: 111px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
fieldset label {
  font-size: 1rem;
  font-family: "Bebas Neue", sans-serif;
  color: #F9F9F9;
}
fieldset input {
  border: 2px solid #1DA78E;
  color: #F9F9F9;
  font-family: "Roboto", sans-serif;
  padding: 1em;
  transition: all 0.3s ease;
}
fieldset input::placeholder {
  color: #1DA78E;
}
fieldset input:hover, fieldset input:focus {
  border-color: #F9F9F9;
}
fieldset.red input {
  border-color: #DE4312;
}
fieldset.red input::placeholder {
  color: #DE4312;
}
fieldset p.error-field {
  color: #BA7813;
  font-size: 0.7rem;
}

footer {
  width: 100%;
  min-height: 20vh;
  background: hsl(0, 0%, 7%);
}
footer section {
  width: 100%;
  min-height: 10vh;
  display: flex;
}
footer section:first-child {
  align-items: center;
  justify-content: center;
  background: #1D1D1D;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px 0px rgba(49, 90, 8, 0.5) inset;
}
footer section:first-child ul {
  width: 100%;
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  color: hsla(50, 34%, 58%, 0.5);
}
footer section:first-child ul li {
  width: auto;
  height: auto;
}
footer section:first-child ul li a {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid hsla(50, 34%, 58%, 0.5);
}
footer section:first-child ul li a svg {
  width: auto;
  height: 1.5rem;
  color: hsla(50, 34%, 58%, 0.5);
}
footer section:first-child ul li a:hover {
  background: hsla(50, 34%, 58%, 0.5);
  border-color: transparent;
}
footer section:first-child ul li a:hover svg {
  color: #1D1D1D;
}
main.item {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
main.item section {
  height: 100vh;
  background: #204566;
  color: #F9F9F9;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
main.item section a {
  color: #2781B9;
}
main.item section article {
  width: 100%;
  padding: 3vh 2vw;
}
main.item section article:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main.item section article figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.item section article figure img {
  width: 150px;
  height: 150px;
  background: hsla(0, 0%, 7%, 0.6);
  border-radius: 10px;
}
main.item section article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
main.item section article ul {
  list-style-type: disc;
}
main.item section article:last-child ul {
  list-style-type: none;
  display: flex;
  gap: 0.5vw;
  position: relative;
}
main.item section article:last-child ul li a {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: hsla(0, 0%, 7%, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #306595;
}
main.item section article:last-child ul li a span {
  position: absolute;
  bottom: -3em;
  color: #F9F9F9;
  font-size: 0.7rem;
  width: auto;
  padding: 0.5em;
  background: hsla(0, 0%, 7%, 0.6);
  border-radius: 5px;
  opacity: 0;
  text-align: center;
}
main.item section article:last-child ul li a:hover span {
  opacity: 1;
}
main.item section:last-child {
  background: hsla(0, 0%, 7%, 0.6);
}

main.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: hsl(0, 0%, 7%);
}
main.home section.portal {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main.home section.portal a.btn-img {
  opacity: 0;
}
main.home section.portal audio {
  position: relative;
  z-index: 1000;
}
main.home section.portal img {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0;
  transition: all 1s ease;
}
main.home section.portal img.open-zaap, main.home section.portal img.light-zaap, main.home section.portal img.light-zaap-aura {
  opacity: 0;
}
main.home section.portal img.light-zaap {
  width: 30vw;
  bottom: 15vh;
}
main.home section.portal img.light-zaap-aura {
  width: 60vw;
  top: 5vh;
}
main.home section.portal:hover img.default-zaap {
  opacity: 0;
}
main.home section.portal:hover img.open-zaap, main.home section.portal:hover img.light-zaap, main.home section.portal:hover img.light-zaap-aura, main.home section.portal:hover a.btn-img {
  opacity: 1;
}
main.home section.portal:hover a.btn-img {
  transform: translateY(30vh);
}
main.home section.portal:hover a.btn-img:hover {
  transform: translateY(30vh) scale(1.1, 1.1);
}
main.home section.portal:hover img.light-zaap {
  animation: infiniteLoop 15s linear infinite;
}
main.home section.class-list {
  background: rgb(4, 32, 7);
  border-top: 1px solid #96A71D;
}
main.home section.class-list h2 {
  text-align: center;
  padding-top: 10vh;
  color: white;
  font-size: 35px;
}
main.home section.class-list div.class {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vh;
  padding: 10vw;
}
main.home section.class-list div.class figure img {
  width: 100%;
  height: auto;
}
main.home section.class-list div.class figure article {
  width: 100%;
  padding: 3vh 1em;
  background: rgb(41, 83, 50);
}
main.home section.class-list div.class figure article h3 {
  color: white;
}
main.home section.class-list div.button-ShowMore {
  height: 10vw;
  text-align: center;
}
main.home section.class-list div.button-ShowMore button {
  color: white;
  font-size: 20px;
}
main.home section.ladder {
  border-top: 1px solid #DE4312;
}
main.home section.ladder div {
  background: rgba(41, 16, 0, 0.7);
  width: 10vw;
  height: auto;
  position: absolute;
}
main.home section.ladder img {
  height: auto;
  width: 100vw;
  position: relative;
}

@keyframes infiniteLoop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
main.login, main.register {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 0;
}
main.login section, main.register section {
  width: 40%;
  height: 100%;
  background: #0A5245;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  color: #F9F9F9;
  padding: 0 8vw;
}
main.login section h2, main.register section h2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main.login section h2::after, main.register section h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #F9F9F9;
}
main.login section form, main.register section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 0 2vw;
}
main.login section div, main.register section div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
main.login section div a, main.register section div a {
  color: #1DA78E;
  margin-left: 0.3rem;
}
main.login section div a:hover, main.register section div a:hover {
  text-decoration: underline;
}
main.login section button, main.register section button {
  background: #1DA78E;
  padding: 1rem;
  border: 2px solid #1DA78E;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  color: #F9F9F9;
  border-radius: none;
  font-family: "Bebas Neue", sans-serif;
}
main.login section button:hover, main.register section button:hover {
  background: transparent;
  border: 2px solid #1DA78E;
}
main.login section button.red, main.register section button.red {
  background: #DE4312;
  border-color: #DE4312;
}
main.login section button.red:hover, main.register section button.red:hover {
  background: transparent;
  border-color: #DE4312;
}

main.register {
  background-position: left;
  display: flex;
  justify-content: flex-end;
}
main.register section {
  background: #943801;
}
main.register section form div a {
  color: #DE4312;
}

main.listes {
  width: 100%;
  min-height: 100vh;
  background: #1D1D1D;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
main.listes section {
  height: auto;
  padding: 3vh 2vw;
}
main.listes section:first-child {
  width: calc(30% - 2vw);
  height: calc(100vh - 100px - 2vw);
  position: sticky;
  top: 95px;
  left: 2vw;
  background: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F9F9;
}
main.listes section:first-child h2 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 2rem;
}
main.listes section:first-child h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #F9F9F9;
}
main.listes section.list-container {
  width: 70%;
}
main.listes section.list-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}
main.listes section.list-container ul li {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main.listes section.list-container ul li a {
  width: 100%;
  padding: 2rem;
  background: hsl(0, 0%, 7%);
  color: hsla(0, 0%, 98%, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid transparent;
}
main.listes section.list-container ul li a figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/0.6;
  position: relative;
}
main.listes section.list-container ul li a figure::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 98%, 0.2);
  bottom: 0;
}
main.listes section.list-container ul li a figure img {
  width: 30%;
  aspect-ratio: 1/1;
}
main.listes section.list-container ul li a article {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main.listes section.list-container ul li a article p:last-child {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
main.listes section.list-container ul li a svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  aspect-ratio: 1/1;
}
main.listes section.list-container ul li a:hover {
  border-color: hsla(0, 0%, 98%, 0.2);
  color: hsla(50, 34%, 58%, 0.5);
}

/*# sourceMappingURL=style.css.map */
