button {
  padding: 1rem;
  transition: $tr-3-a;
  cursor: pointer;
  font-size: 1.2rem;
  border: 2px solid $green-blue-light;
  border-radius: none;
  font-family: "Bebas Neue", sans-serif;
  color: $white;

  &.standard {
    background: $green-blue-light;

    &:hover {
      background: transparent;
      border: 2px solid $green-blue-light;
    }

    &.red {
      background: $dark-red;
      border-color: $dark-red;

      &:hover {
        background: transparent;
        border-color: $dark-red;
      }
    }
  }

  &.border {
    background: transparent;

    &:hover {

    }
  }
}