main._404 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  section {
    width: 815px;
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: $white;
    padding: 0 15%;

    h1 {
      font-size: 1.5rem;
    }

    p {
      margin-top: 1rem;
      color: $white-border-20;

      a {
        color: $green-border;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }

  & > a {
    font-size: 1.5rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}