main.login, main.register {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 0;

  section {
    width: 40%;
    height: 100%;
    background: $green-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: $white;
    padding: 0 8vw;

    h2 {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background: $white;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vh;
      padding: 0 2vw;
    }

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: .8rem;

      a {
        color: $green-blue-light;
        margin-left: .3rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      background: $green-blue-light;
      padding: 1rem;
      border: 2px solid $green-blue-light;
      transition: $tr-3-a;
      cursor: pointer;
      font-size: 1.2rem;
      color: $white;
      border-radius: none;
      font-family: "Bebas Neue", sans-serif;

      &:hover {
        background: transparent;
        border: 2px solid $green-blue-light;
      }

      &.red {
        background: $dark-red;
        border-color: $dark-red;

        &:hover {
          background: transparent;
          border-color: $dark-red;
        }
      }
    }
  }
}

main.register {
  background-position: left;
  display: flex;
  justify-content: flex-end;

  section {
    background: $darkest-red;

    form div a {
      color: $dark-red;
    }
  }
}