main.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: $dark-background;

  section.portal {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    a.btn-img {
      opacity: 0;
    }

    audio {
      position: relative;
      z-index: 1000;
    }

    img {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0;
      transition: all 1s ease;

      &:first-child {
        display: inline;
      }

      &.open-zaap, &.light-zaap, &.light-zaap-aura {
        opacity: 0;
      }

      &.light-zaap {
        width: 30vw;
        top: 25vh;
      }

      &.light-zaap-aura {
        width: 60vw;
        top: -5vh;
      }
    }

    &:hover {
      img.default-zaap {
        opacity: 0;
      }

      img.open-zaap, img.light-zaap, img.light-zaap-aura, a.btn-img {
        opacity: 1;
      }

      a.btn-img {
        transform: translateY(30vh);

        &:hover {
          transform: translateY(30vh) scale(1.1, 1.1);
        }
      }

      img.light-zaap {
        animation: infiniteLoop 15s linear infinite;
      }
    }
  }

  section.class-list {
    background: rgb(4,32,7);
    border-top: 1px solid $green-border;

     h2{
       text-align: center;
       padding-top: 10vh;
       color: white;
       font-size: 35px;
     }

     div.class {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 5vh;
       padding: 10vw;
       figure{
         img{
           width: 100%;
           height: auto;
         }
         article {
           width: 100%;
           padding: 3vh 1em;
           background: rgb(41,83,50);
           h3 {
             color: white;
           }
         }
       }
     }

      div.button-ShowMore{
        height: 10vw;
        text-align: center;

        button{
          color: white;
          font-size: 20px;
        }
      }
  }

  section.ladder{
    border-top: 1px solid $dark-red;

    div{
      background: rgb(41,16,0,70%);
      width: 10vw;
      height: auto;
      position: absolute;
    }

    img{
      height: auto;
      width: 100vw;
      position: relative;
    }
  }
}

@keyframes infiniteLoop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}