main.item {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  section {
    height: 100vh;
    background: $darkest-blue;
    color: $white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);

    a {
      color: $blue;
    }

    article {
      width: 100%;
      padding: 3vh 2vw;

      &:first-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      figure {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 150px;
          height: 150px;
          background: $dark-background-60;
          border-radius: 10px;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
      }

      ul {
        list-style-type: disc;
      }

      &:last-child {

        ul {
          list-style-type: none;
          display: flex;
          gap: .5vw;
          position: relative;

          li a {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            background: $dark-background-60;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $dark-blue;

            span {
              position: absolute;
              bottom: -3em;
              color: $white;
              font-size: .7rem;
              width: auto;
              padding: .5em;
              background: $dark-background-60;
              border-radius: 5px;
              opacity: 0;
              text-align: center;
            }

            &:hover span {
              opacity: 1;
            }
          }
        }
      }
    }

    &:last-child {
      background: $dark-background-60;
    }
  }
}