main.listes {
  width: 100%;
  min-height: 100vh;
  background: $background;
  display: flex;
  justify-content: flex-end;
  position: relative;

  section {
    height: auto;
    padding: 3vh 2vw;

    &:first-child {
      width: calc(30% - 2vw);
      height: calc(100vh - 100px - 2vw);
      position: sticky;
      top: 95px;
      left: 2vw;
      background: $dark-background;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;

      h2 {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        font-size: 2rem;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: $white;
        }
      }
    }

    &.list-container {
      width: 70%;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;

        li {
          width: 100%;
          position: relative;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          a {
            width: 100%;
            padding: 2rem;
            background: $dark-background;
            color: $white-border-20;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            border: 1px solid transparent;

            figure {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              aspect-ratio: 1/.6;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: $white-border-20;
                bottom: 0;
              }

              img {
                width: 30%;
                aspect-ratio: 1/1;
              }
            }

            article {
              display: flex;
              flex-direction: column;
              gap: .2rem;

              p:last-child {
                overflow: hidden;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }

            svg {
              position: absolute;
              top: 1rem;
              right: 1rem;
              width: 20px;
              aspect-ratio: 1/1;
            }

            &:hover {
              border-color: $white-border-20;
              color: $pal-green-50;
            }
          }
        }
      }
    }
  }
}